*.vsidx
/ContaService/Conta.API/obj/*
/ContaService/Conta.Domain/obj/*
/ContaService/Conta.Application/obj/*
/ContaService/Conta.Infrastructure/obj/*
*.cache
*.log
/.vs/BankMore/DesignTimeBuild/.dtbcache.v2
/.vs/BankMore/v18/.suo
/.vs/BankMore/v18/DocumentLayout.backup.json
/.vs/BankMore/v18/DocumentLayout.json
/ContaService/Conta.API/bin/Debug/net8.0/Conta.Api.deps.json
/ContaService/Conta.API/bin/Debug/net8.0/Conta.Api.dll
/ContaService/Conta.API/bin/Debug/net8.0/Conta.Api.exe
/ContaService/Conta.API/bin/Debug/net8.0/Conta.Api.pdb
/ContaService/Conta.API/bin/Debug/net8.0/Conta.Application.dll
/ContaService/Conta.API/bin/Debug/net8.0/Conta.Application.pdb
/ContaService/Conta.API/bin/Debug/net8.0/Conta.Domain.dll
/ContaService/Conta.API/bin/Debug/net8.0/Conta.Domain.pdb
/ContaService/Conta.API/bin/Debug/net8.0/Conta.Infrastructure.dll
/ContaService/Conta.API/bin/Debug/net8.0/Conta.Infrastructure.pdb
/ContaService/Conta.API/bin/Debug/net8.0/Microsoft.IdentityModel.JsonWebTokens.dll
/ContaService/Conta.API/bin/Debug/net8.0/System.IdentityModel.Tokens.Jwt.dll
/ContaService/Conta.Application/bin/Debug/net8.0/Conta.Application.deps.json
/ContaService/Conta.Application/bin/Debug/net8.0/Conta.Application.dll
/ContaService/Conta.Application/bin/Debug/net8.0/Conta.Application.pdb
/ContaService/Conta.Application/bin/Debug/net8.0/Conta.Domain.dll
/ContaService/Conta.Application/bin/Debug/net8.0/Conta.Domain.pdb
/ContaService/Conta.Application/bin/Debug/net8.0/Conta.Infrastructure.dll
/ContaService/Conta.Application/bin/Debug/net8.0/Conta.Infrastructure.pdb
/ContaService/Conta.Application/obj/Debug/net8.0/ref/Conta.Application.dll
/ContaService/Conta.Application/obj/Debug/net8.0/refint/Conta.Application.dll
/ContaService/Conta.Application/obj/Debug/net8.0/Conta.Application.AssemblyInfo.cs
/ContaService/Conta.Application/obj/Debug/net8.0/Conta.Application.AssemblyInfoInputs.cache
/ContaService/Conta.Application/obj/Debug/net8.0/Conta.Application.assets.cache
/ContaService/Conta.Application/obj/Debug/net8.0/Conta.Application.csproj.AssemblyReference.cache
/ContaService/Conta.Application/obj/Debug/net8.0/Conta.Application.csproj.CoreCompileInputs.cache
/ContaService/Conta.Application/obj/Debug/net8.0/Conta.Application.csproj.FileListAbsolute.txt
/ContaService/Conta.Application/obj/Debug/net8.0/Conta.Application.dll
/ContaService/Conta.Application/obj/Debug/net8.0/Conta.Application.pdb
/ContaService/Conta.Application/obj/Conta.Application.csproj.nuget.dgspec.json
/ContaService/Conta.Application/obj/project.assets.json
/ContaService/Conta.Application/obj/project.nuget.cache
/ContaService/Conta.Domain/bin/Debug/net8.0/Conta.Domain.dll
/ContaService/Conta.Domain/bin/Debug/net8.0/Conta.Domain.pdb
/ContaService/Conta.Domain/obj/Debug/net8.0/ref/Conta.Domain.dll
/ContaService/Conta.Domain/obj/Debug/net8.0/refint/Conta.Domain.dll
/ContaService/Conta.Domain/obj/Debug/net8.0/Conta.Domain.AssemblyInfo.cs
/ContaService/Conta.Domain/obj/Debug/net8.0/Conta.Domain.AssemblyInfoInputs.cache
/ContaService/Conta.Domain/obj/Debug/net8.0/Conta.Domain.csproj.CoreCompileInputs.cache
/ContaService/Conta.Domain/obj/Debug/net8.0/Conta.Domain.csproj.FileListAbsolute.txt
/ContaService/Conta.Domain/obj/Debug/net8.0/Conta.Domain.dll
/ContaService/Conta.Domain/obj/Debug/net8.0/Conta.Domain.pdb
/ContaService/Conta.Infrastructure/bin/Debug/net8.0/Conta.Domain.dll
/ContaService/Conta.Infrastructure/bin/Debug/net8.0/Conta.Domain.pdb
/ContaService/Conta.Infrastructure/bin/Debug/net8.0/Conta.Infrastructure.dll
/ContaService/Conta.Infrastructure/bin/Debug/net8.0/Conta.Infrastructure.pdb
/ContaService/Conta.Infrastructure/obj/Debug/net8.0/ref/Conta.Infrastructure.dll
/ContaService/Conta.Infrastructure/obj/Debug/net8.0/refint/Conta.Infrastructure.dll
/ContaService/Conta.Infrastructure/obj/Debug/net8.0/Conta.Infrastructure.AssemblyInfo.cs
/ContaService/Conta.Infrastructure/obj/Debug/net8.0/Conta.Infrastructure.AssemblyInfoInputs.cache
/ContaService/Conta.Infrastructure/obj/Debug/net8.0/Conta.Infrastructure.csproj.AssemblyReference.cache
/ContaService/Conta.Infrastructure/obj/Debug/net8.0/Conta.Infrastructure.csproj.CoreCompileInputs.cache
/ContaService/Conta.Infrastructure/obj/Debug/net8.0/Conta.Infrastructure.csproj.FileListAbsolute.txt
/ContaService/Conta.Infrastructure/obj/Debug/net8.0/Conta.Infrastructure.dll
/ContaService/Conta.Infrastructure/obj/Debug/net8.0/Conta.Infrastructure.pdb
/TransferenciaService/Transferencia.API/bin/Debug/net8.0/Microsoft.IdentityModel.JsonWebTokens.dll
/TransferenciaService/Transferencia.API/bin/Debug/net8.0/System.IdentityModel.Tokens.Jwt.dll
/TransferenciaService/Transferencia.API/bin/Debug/net8.0/Transferencia.Api.deps.json
/TransferenciaService/Transferencia.API/bin/Debug/net8.0/Transferencia.Api.dll
/TransferenciaService/Transferencia.API/bin/Debug/net8.0/Transferencia.Api.exe
/TransferenciaService/Transferencia.API/bin/Debug/net8.0/Transferencia.Api.pdb
/TransferenciaService/Transferencia.API/obj/Debug/net8.0/ref/Transferencia.Api.dll
/TransferenciaService/Transferencia.API/obj/Debug/net8.0/refint/Transferencia.Api.dll
/TransferenciaService/Transferencia.API/obj/Debug/net8.0/apphost.exe
/TransferenciaService/Transferencia.API/obj/Debug/net8.0/rjsmcshtml.dswa.cache.json
/TransferenciaService/Transferencia.API/obj/Debug/net8.0/rjsmrazor.dswa.cache.json
/TransferenciaService/Transferencia.API/obj/Debug/net8.0/Transferencia.Api.AssemblyInfo.cs
/TransferenciaService/Transferencia.API/obj/Debug/net8.0/Transferencia.Api.AssemblyInfoInputs.cache
/TransferenciaService/Transferencia.API/obj/Debug/net8.0/Transferencia.Api.assets.cache
/TransferenciaService/Transferencia.API/obj/Debug/net8.0/Transferencia.Api.csproj.AssemblyReference.cache
/TransferenciaService/Transferencia.API/obj/Debug/net8.0/Transferencia.Api.csproj.CoreCompileInputs.cache
/TransferenciaService/Transferencia.API/obj/Debug/net8.0/Transferencia.Api.csproj.FileListAbsolute.txt
/TransferenciaService/Transferencia.API/obj/Debug/net8.0/Transferencia.Api.dll
/TransferenciaService/Transferencia.API/obj/Debug/net8.0/Transferencia.Api.pdb
/TransferenciaService/Transferencia.API/obj/Debug/net8.0/Transferencia.Api.sourcelink.json
/TransferenciaService/Transferencia.API/obj/project.assets.json
/TransferenciaService/Transferencia.API/obj/project.nuget.cache
/TransferenciaService/Transferencia.API/obj/Transferencia.Api.csproj.nuget.dgspec.json
/TransferenciaService/Transferencia.Application/bin/Debug/net10.0/Transferencia.Application.dll
/TransferenciaService/Transferencia.Application/bin/Debug/net10.0/Transferencia.Application.pdb
/TransferenciaService/Transferencia.Application/obj/Debug/net10.0/ref/Transferencia.Application.dll
/TransferenciaService/Transferencia.Application/obj/Debug/net10.0/refint/Transferencia.Application.dll
/TransferenciaService/Transferencia.Application/obj/Debug/net10.0/Transferencia.Application.AssemblyInfo.cs
/TransferenciaService/Transferencia.Application/obj/Debug/net10.0/Transferencia.Application.AssemblyInfoInputs.cache
/TransferenciaService/Transferencia.Application/obj/Debug/net10.0/Transferencia.Application.csproj.FileListAbsolute.txt
/TransferenciaService/Transferencia.Application/obj/Debug/net10.0/Transferencia.Application.dll
/TransferenciaService/Transferencia.Application/obj/Debug/net10.0/Transferencia.Application.pdb
/TransferenciaService/Transferencia.Application/obj/Debug/net10.0/Transferencia.Application.sourcelink.json
/TransferenciaService/Transferencia.Domain/bin/Debug/net10.0/Transferencia.Domain.dll
/TransferenciaService/Transferencia.Domain/bin/Debug/net10.0/Transferencia.Domain.pdb
/TransferenciaService/Transferencia.Domain/obj/Debug/net10.0/ref/Transferencia.Domain.dll
/TransferenciaService/Transferencia.Domain/obj/Debug/net10.0/refint/Transferencia.Domain.dll
/TransferenciaService/Transferencia.Domain/obj/Debug/net10.0/Transferencia.Domain.AssemblyInfo.cs
/TransferenciaService/Transferencia.Domain/obj/Debug/net10.0/Transferencia.Domain.AssemblyInfoInputs.cache
/TransferenciaService/Transferencia.Domain/obj/Debug/net10.0/Transferencia.Domain.csproj.FileListAbsolute.txt
/TransferenciaService/Transferencia.Domain/obj/Debug/net10.0/Transferencia.Domain.dll
/TransferenciaService/Transferencia.Domain/obj/Debug/net10.0/Transferencia.Domain.pdb
/TransferenciaService/Transferencia.Domain/obj/Debug/net10.0/Transferencia.Domain.sourcelink.json
/TransferenciaService/Transferencia.Infrastructure/bin/Debug/net10.0/Transferencia.Infrastructure.dll
/TransferenciaService/Transferencia.Infrastructure/bin/Debug/net10.0/Transferencia.Infrastructure.pdb
/TransferenciaService/Transferencia.Infrastructure/obj/Debug/net10.0/ref/Transferencia.Infrastructure.dll
/TransferenciaService/Transferencia.Infrastructure/obj/Debug/net10.0/refint/Transferencia.Infrastructure.dll
/TransferenciaService/Transferencia.Infrastructure/obj/Debug/net10.0/Transferencia.Infrastructure.AssemblyInfo.cs
/TransferenciaService/Transferencia.Infrastructure/obj/Debug/net10.0/Transferencia.Infrastructure.AssemblyInfoInputs.cache
/TransferenciaService/Transferencia.Infrastructure/obj/Debug/net10.0/Transferencia.Infrastructure.csproj.FileListAbsolute.txt
/TransferenciaService/Transferencia.Infrastructure/obj/Debug/net10.0/Transferencia.Infrastructure.dll
/TransferenciaService/Transferencia.Infrastructure/obj/Debug/net10.0/Transferencia.Infrastructure.pdb
/TransferenciaService/Transferencia.Infrastructure/obj/Debug/net10.0/Transferencia.Infrastructure.sourcelink.json
/UsuarioService/Usuario.API/bin/Debug/net8.0/Usuario.Api.dll
/UsuarioService/Usuario.API/bin/Debug/net8.0/Usuario.Api.exe
/UsuarioService/Usuario.API/bin/Debug/net8.0/Usuario.Api.pdb
/UsuarioService/Usuario.API/bin/Debug/net8.0/Usuario.Application.dll
/UsuarioService/Usuario.API/bin/Debug/net8.0/Usuario.Application.pdb
/UsuarioService/Usuario.API/bin/Debug/net8.0/Usuario.Domain.dll
/UsuarioService/Usuario.API/bin/Debug/net8.0/Usuario.Domain.pdb
/UsuarioService/Usuario.API/bin/Debug/net8.0/Usuario.Infrastructure.dll
/UsuarioService/Usuario.API/bin/Debug/net8.0/Usuario.Infrastructure.pdb
/UsuarioService/Usuario.API/obj/Debug/net8.0/ref/Usuario.Api.dll
/UsuarioService/Usuario.API/obj/Debug/net8.0/refint/Usuario.Api.dll
/UsuarioService/Usuario.API/obj/Debug/net8.0/apphost.exe
/UsuarioService/Usuario.API/obj/Debug/net8.0/rjsmcshtml.dswa.cache.json
/UsuarioService/Usuario.API/obj/Debug/net8.0/rjsmrazor.dswa.cache.json
/UsuarioService/Usuario.API/obj/Debug/net8.0/Usuario.Api.AssemblyInfo.cs
/UsuarioService/Usuario.API/obj/Debug/net8.0/Usuario.Api.AssemblyInfoInputs.cache
/UsuarioService/Usuario.API/obj/Debug/net8.0/Usuario.Api.csproj.AssemblyReference.cache
/UsuarioService/Usuario.API/obj/Debug/net8.0/Usuario.Api.csproj.FileListAbsolute.txt
/UsuarioService/Usuario.API/obj/Debug/net8.0/Usuario.Api.dll
/UsuarioService/Usuario.API/obj/Debug/net8.0/Usuario.Api.pdb
/UsuarioService/Usuario.API/obj/Debug/net8.0/Usuario.Api.sourcelink.json
/UsuarioService/Usuario.Application/bin/Debug/net8.0/Usuario.Application.dll
/UsuarioService/Usuario.Application/bin/Debug/net8.0/Usuario.Application.pdb
/UsuarioService/Usuario.Application/bin/Debug/net8.0/Usuario.Domain.dll
/UsuarioService/Usuario.Application/bin/Debug/net8.0/Usuario.Domain.pdb
/UsuarioService/Usuario.Application/bin/Debug/net8.0/Usuario.Infrastructure.dll
/UsuarioService/Usuario.Application/bin/Debug/net8.0/Usuario.Infrastructure.pdb
/UsuarioService/Usuario.Application/obj/Debug/net8.0/ref/Usuario.Application.dll
/UsuarioService/Usuario.Application/obj/Debug/net8.0/refint/Usuario.Application.dll
/UsuarioService/Usuario.Application/obj/Debug/net8.0/Usuario.Application.AssemblyInfo.cs
/UsuarioService/Usuario.Application/obj/Debug/net8.0/Usuario.Application.csproj.FileListAbsolute.txt
/UsuarioService/Usuario.Application/obj/Debug/net8.0/Usuario.Application.dll
/UsuarioService/Usuario.Application/obj/Debug/net8.0/Usuario.Application.pdb
/UsuarioService/Usuario.Application/obj/Debug/net8.0/Usuario.Application.sourcelink.json
/UsuarioService/Usuario.Domain/bin/Debug/net8.0/Usuario.Domain.dll
/UsuarioService/Usuario.Domain/bin/Debug/net8.0/Usuario.Domain.pdb
/UsuarioService/Usuario.Domain/obj/Debug/net8.0/ref/Usuario.Domain.dll
/UsuarioService/Usuario.Domain/obj/Debug/net8.0/refint/Usuario.Domain.dll
/UsuarioService/Usuario.Domain/obj/Debug/net8.0/Usuario.Domain.AssemblyInfo.cs
/UsuarioService/Usuario.Domain/obj/Debug/net8.0/Usuario.Domain.AssemblyInfoInputs.cache
/UsuarioService/Usuario.Domain/obj/Debug/net8.0/Usuario.Domain.csproj.FileListAbsolute.txt
/UsuarioService/Usuario.Domain/obj/Debug/net8.0/Usuario.Domain.dll
/UsuarioService/Usuario.Domain/obj/Debug/net8.0/Usuario.Domain.pdb
/UsuarioService/Usuario.Domain/obj/Debug/net8.0/Usuario.Domain.sourcelink.json
/ContaService/Conta.API/obj/Debug/net8.0/EndpointInfo/Conta.Api.json
/ContaService/Conta.API/obj/Debug/net8.0/ref/Conta.Api.dll
/ContaService/Conta.API/obj/Debug/net8.0/refint/Conta.Api.dll
/ContaService/Conta.API/obj/Debug/net8.0/ApiEndpoints.json
/ContaService/Conta.API/obj/Debug/net8.0/apphost.exe
/ContaService/Conta.API/obj/Debug/net8.0/Conta.Api.AssemblyInfo.cs
/ContaService/Conta.API/obj/Debug/net8.0/Conta.Api.AssemblyInfoInputs.cache
/ContaService/Conta.API/obj/Debug/net8.0/Conta.Api.assets.cache
/ContaService/Conta.API/obj/Debug/net8.0/Conta.Api.csproj.AssemblyReference.cache
/ContaService/Conta.API/obj/Debug/net8.0/Conta.Api.csproj.CoreCompileInputs.cache
/ContaService/Conta.API/obj/Debug/net8.0/Conta.Api.csproj.FileListAbsolute.txt
/ContaService/Conta.API/obj/Debug/net8.0/Conta.Api.dll
/ContaService/Conta.API/obj/Debug/net8.0/Conta.Api.pdb
/ContaService/Conta.API/obj/Debug/net8.0/rjsmcshtml.dswa.cache.json
/ContaService/Conta.API/obj/Debug/net8.0/rjsmrazor.dswa.cache.json
/ContaService/Conta.API/obj/Debug/net8.0/rpswa.dswa.cache.json
/ContaService/Conta.API/obj/Conta.Api.csproj.nuget.dgspec.json
/ContaService/Conta.API/obj/project.assets.json
/ContaService/Conta.API/obj/project.nuget.cache
/UsuarioService/Usuario.Infrastructure/bin/Debug/net8.0/Usuario.Domain.dll
/UsuarioService/Usuario.Infrastructure/bin/Debug/net8.0/Usuario.Domain.pdb
/UsuarioService/Usuario.Infrastructure/bin/Debug/net8.0/Usuario.Infrastructure.dll
/UsuarioService/Usuario.Infrastructure/bin/Debug/net8.0/Usuario.Infrastructure.pdb
/UsuarioService/Usuario.Infrastructure/obj/Debug/net8.0/ref/Usuario.Infrastructure.dll
/UsuarioService/Usuario.Infrastructure/obj/Debug/net8.0/refint/Usuario.Infrastructure.dll
/UsuarioService/Usuario.Infrastructure/obj/Debug/net8.0/Usuario.Infrastructure.AssemblyInfo.cs
/UsuarioService/Usuario.Infrastructure/obj/Debug/net8.0/Usuario.Infrastructure.AssemblyInfoInputs.cache
/UsuarioService/Usuario.Infrastructure/obj/Debug/net8.0/Usuario.Infrastructure.csproj.AssemblyReference.cache
/UsuarioService/Usuario.Infrastructure/obj/Debug/net8.0/Usuario.Infrastructure.csproj.FileListAbsolute.txt
/UsuarioService/Usuario.Infrastructure/obj/Debug/net8.0/Usuario.Infrastructure.dll
/UsuarioService/Usuario.Infrastructure/obj/Debug/net8.0/Usuario.Infrastructure.pdb
/UsuarioService/Usuario.Infrastructure/obj/Debug/net8.0/Usuario.Infrastructure.sourcelink.json
*.dll
/TransferenciaService/Transferencia.API/bin/Debug/net8.0/appsettings.json
/TransferenciaService/Transferencia.API/bin/Debug/net8.0
/TransferenciaService/Transferencia.API/obj/Debug/net8.0/rpswa.dswa.cache.json
/TransferenciaService/Transferencia.Application/bin/Debug/net8.0
/TransferenciaService/Transferencia.Application/obj/Debug/net8.0
/TransferenciaService/Transferencia.Application/obj/project.assets.json
/TransferenciaService/Transferencia.Application/obj/project.nuget.cache
/TransferenciaService/Transferencia.Application/obj/Transferencia.Application.csproj.nuget.dgspec.json
/TransferenciaService/Transferencia.Domain/bin/Debug/net8.0
/TransferenciaService/Transferencia.Domain/obj/Debug/net8.0
/TransferenciaService/Transferencia.Domain/obj/project.assets.json
/TransferenciaService/Transferencia.Domain/obj/project.nuget.cache
/TransferenciaService/Transferencia.Domain/obj/Transferencia.Domain.csproj.nuget.dgspec.json
/TransferenciaService/Transferencia.Infrastructure/bin/Debug/net8.0
/TransferenciaService/Transferencia.Infrastructure/obj/Debug/net10.0/Transferencia.Infrastructure.csproj.AssemblyReference.cache
/TransferenciaService/Transferencia.Infrastructure/obj/Debug/net8.0
/TransferenciaService/Transferencia.Infrastructure/obj/project.assets.json
/TransferenciaService/Transferencia.Infrastructure/obj/project.nuget.cache
/TransferenciaService/Transferencia.Infrastructure/obj/Transferencia.Infrastructure.csproj.nuget.dgspec.json
